@import "2020variables";

.solution { 
  .slp-prose a {
    color: $color-purple-light-2020-alt;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $color-purple-light-2020-alt;    
    }
  }
}
