@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "mixins/underline";
@import "2020base";
$distros-size: 7;

.install-header {
  margin-bottom: 80px;

  h1{
    position: relative;
    display: inline-block;

    &::before {
      background: url(/images/sales/particles-sales.svg) no-repeat 100% 0;
      content: "";
      height: 146px;
      left: -59px;
      position: absolute;
      top: -70px;
      width: 108px;
    }

    @media (max-width: $screen-sm-min) {
      &::before{
        left: -5%;
      }

      &::after{
        right: -5%;
      }
    }
  }

  @media (max-width: $screen-xs-min) {
    h1, p {
      text-align: center;
    }

    h1 {
      margin-top: 0;

      &:before {
        background: url(/images/sales/particles-sales-2.svg) no-repeat 100% 0;
        left: -40px;
        top: -40px;
      }
    }
  }


  p{
    max-width: 730px;

    &.description{
      margin-top: 9px;
    }

  }
}

.slp-text-xxs {
  letter-spacing: 2px;
}

h2 {
  //sass-lint:disable no-important
  margin-bottom: 8px !important;
  margin-top: 8px !important;
}

.slp-dropdown-container {
  top: 70px;
}

.slp-dropdown {
  width: 100%;

  .dropdown-toggle {
    background-color: #FFF;
  }
}

.dropdown-menu {
  width: 100%;
  display: unset;
  box-shadow: none;
  border-top: 0;

  a:hover {
    color: #7d2bd9;
  }
}


@media (max-width: 1024px) {
  .install-header {
    margin-bottom: 0;
  }
}

.install-prerequisites {
  width: 600px;
  position: absolute;
  bottom: -45px;
  transform: translateX(-50%);
  left: 50%;

  @media (max-width: $screen-sm-min) {
    width: 100%;
  }

  p {
    font-size: 16px;
    max-width: 450px;
    margin: 0 auto;
  }
}

.btn.margin-left-none {
  margin-left: 0;
}

.btn.cta-btn.lavender {
  width: unset;

  @media (max-width: $screen-sm-min) {
    width: 100%;
  }
}

.cards-section {
  padding-bottom: $spacing-unit-sm;
  scroll-margin: 70px;

  &.cards-section-grey {
    background: #f5f5f5;
  }
}

.block-title {
  text-align: center;
  margin-top: $spacing-unit-sm;
}

#content, .method {
  p {
    color: $text-color-light;

    a:not(.btn):not(.slp-btn) {
      color: $text-color-light;
      text-decoration: underline;

      &:active,
      &:focus,
      &:hover { 
        color: $color-purple-light-2020;
      }
    }
  }

  .display-extra-links {
    a:active,
    a:focus,
    a:hover{
      text-decoration: underline;
    }
  }
}

.method {
  margin-top: 32px;
  max-width: 900px;

  .block-title {
    text-align: center;
    margin-top: 0;
  }

  &.omnibus {
    margin-top: 64px;

    @media (max-width: $screen-sm-min) {
      margin-top: $spacing-unit-lg;
    }
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  &.upgrade {
    text-align: center;

    p {
      margin-bottom: 30px;

      &:last-child,
      .cta-btn {
        margin: 0;
        text-decoration: none;
      }
    }
  }
}

.flex-tile-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;

  @media (min-width: $screen-sm-min) {
    margin-left: -10px;
    margin-right: -$spacing-unit-xs; // offset for items on right side
  }

  > .tile:not(.no-tile) {
    list-style: none;
    display: flex;
    flex: 0 0 calc(100% - 20px);
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 ($spacing-unit-xs / 2) $spacing-unit-xs;
    text-decoration: none;
    color: unset;

    p {
      color: $color-gray;
    }

    @media (min-width: $screen-sm-min) {
      flex: 0 0 calc(33% - 20px);
    }

    &:hover,
    &:focus,
    &.is-active {
      color: unset;

      .tile-image {
        transform: scale(1.1);
      }

      .tile-info {
        transform: translateY(4px);
      }

    }

    &.distro-content {
      flex: 0 0 100%;
      max-width: calc(100% - 20px);
      align-items: flex-start;
      padding: $spacing-unit-xs;
      text-align: left;

      @media (min-width: $screen-sm-min) {
        max-width: calc(100% - 30px);
      }

      @media (min-width: $screen-md-min) {
        padding: $spacing-unit-sm $spacing-unit-lg;
      }
    }
  }

  .no-tile {
    width: 100%;
  }
}

.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: $transition-primary;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;

  &.popular {
    border: 1px solid #7D2BD9;

    &::before {
      content: "POPULAR";
      font-size: 10px;
      line-height: 32px;
      letter-spacing: 0.1em;
      color: #FFF;
      background-color: #7D2BD9;
      height: 32px;
      position: absolute;
      width: calc(100% + 2px);
      top: -30px;
      border-radius: 4px 4px 0 0;
    }
  }

  .tile-info {
    flex-grow: 1;

    h4 {
      font-size: 19px;
    }

    p {
      font-size: 12px;
    }
  }

  .tooltip-text {
    display: none;
    position: absolute;
    background: #333;
    color: #FFF;
    font-size: 12px;
    line-height: 16px;
    padding: 12px;
    width: 170px;
    border-radius: 4px;
    z-index: 20;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% + 5px);

    &:before {
      content: "";
      width: 10px;
      height: 10px;
      transform: rotate(225deg);
      bottom: -5px;
      left: calc(50% - 5px);
      position: absolute;
      background: #333;
    }
  }

  .tooltip-trigger span{
    border-bottom: 1px dashed #333333;
    position: relative;
  }

  .tooltip-trigger:hover {
    .tooltip-text {
      display: block;
    }
  }
}

.tile-image {
  margin: 0 auto $spacing-unit-xs;
  transition: $transition-primary;

  &,
  svg {
    height: 52px;
    max-width: 100%;
    width: 200px;
  }
}

.border-divider {
  border-top: 1px solid $border-color;

  p {
    margin-top: $spacing-unit-xs;
  }
}

@for $i from 1 through $distros-size {
  .distro-tile-#{$i} {
    order: $i;

    @media (min-width: $screen-sm-min) {
      order: ceil($i / 3);
    }
  }

  .distro-content-#{$i} {
    order: $i;

    @media (min-width: $screen-sm-min) {
      order: (ceil($i / 3)) + 1;
    }
  }
}

.distro-content {
  width: 100%;
  background-color: $color-white;
  padding: 24px;
  margin: 0 $spacing-unit-xs $spacing-unit-xs $spacing-unit-xxs;
  border: 1px solid rgba(51, 51, 51, 0.2);
  position: relative;

  h4 {
    margin: $spacing-unit-sm 0 $spacing-unit-xs 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .js-install-instructions p a {
    text-decoration: underline;
  }

  .display-extra-links {
    display: flex;

    a {
      padding: $spacing-unit-xs $spacing-unit-xs 0 0;
      font-size: 12px;
      color: #7D2BD9;
    }
  }

  #close-distro {
    border: 0;
    float: right;
    padding: 15px;
    position: absolute;
    right: 0px;
    top: -10px;
  }

  .alert-info {
    background-color: unset;
    border: unset;
    border-radius: unset;
    border-left: 4px solid #52CDB7;
    color: $color-black333;
  }

  .alert-warning {
    background-color: unset;
    border: unset;
    border-radius: unset;
    border-left: 4px solid $color-red;
    color: $color-black333;
  }

  code {
    color: $color-black333;
    background-color: $color-gray-extra-light;
  }
}

.cta-block {
  .method-cta {
    margin: 30px 15px;
    width: calc(50% - 30px);
    justify-content: flex-end;
  }
  
  @media (max-width: $screen-sm-min) {
    .method-cta {
      width: 100%;
    }
  }
}

.command {
  color: $text-color-light;
  font-size: 14px;
  line-height: 1.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: pre-line;
  background-color: $color-white;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;

  .btn {
    line-height: 0;
  }
}

.tile .is-active {
  border: 1px solid rgba(51, 51, 51, 0.2);
}

.edition-picker {
  margin-bottom: $spacing-unit-sm;

  a {
    font-size: 18px;
    margin-right: 15px;

    &:hover {
      text-decoration: none;
    }
  }

  .is-active {
    font-weight: 600;

    &:hover::after {
      background-color: $color-accent;
    }
  }

  .is-active,
  a:hover {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      right: 0;
      height: 2px;
      background-color: $color-primary;
    }
  }
}

#other-official-methods .flex-tile-list {
  margin-top: 48px;
}
